<div class="container">
    <footer class="py-3 my-4 footer text-center">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-muted" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" asp-area="" asp-controller="Products">Products</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 OnlineStore, Inc</p>
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/upoilempoziomki"><i class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/grzegorzsekula/"><i class="icon-social-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/UpoilemPoziomki"><i class="icon-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="https://github.com/Qerdo97"><i class="icon-social-github"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</div>
